<div id="post_<%= post.id %>_container" class="p-4 border rounded-lg shadow-sm bg-white">
  <%= turbo_frame_tag "post_#{post.id}_content" do %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>
